{% macro list_published_certs(certs) %}
    {% for cert in certs %}
        <a href="{{  url_for(cert.route) }}">
            <div class="flex flex-col md:flex-row bg-gradient-to-tr from-slate-100 to-slate-200 hover:to-slate-500 md:border-yellow-400 md:border-l-4 mb-8 p-4">
                <div>
                    <img class="w-inherit md:w-64 h-auto" src="{{ url_for('static', filename='images/uploads/' ~ cert.head_img) }}" alt="cert image">
                </div>
                <div class="flex flex-col justify-between mt-4 md:ml-6">
                    <p class="text-xl">{{ cert.name }} - {{ cert.code }}</p>
                    <p class="mt-2">{{ cert.date }}</p>
                    <div class="flex flex-row max-md:flex-wrap max-md:gap-1 mt-6">
                        {% for tag in cert.tags %}
                            <p class="bg-yellow-400 text-sm md:text-md tracking-wider rounded-lg block mr-2 py-1 px-2" href="#">{{ tag.name }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endmacro %}

{% macro list_unpublished_certs(certs) %}
    {% for cert in certs %}
        <div class="flex flex-col md:flex-row bg-gradient-to-tr from-slate-100 to-slate-200 hover:to-slate-500 md:border-yellow-400 md:border-l-4 mb-8 p-4">
            <div class="flex flex-col justify-between mt-4 md:ml-6">
                <p class="text-xl">{{ cert.name }} - {{ cert.code }}</p>
                <p class="mt-2">{{ cert.date }}</p>
                <form action="{{ url_for('admin.manage_publishing') }}" method="post">
                    <input type="hidden" name="route" id="route" value="{{ cert.route }}">
                    <input class="form-btn my-4 py-2 px-4" type="submit" value="Publish">
                </form>
            </div>
        </div>
    {% endfor %}
{% endmacro %}